# IDEs and editors
/.idea
.project
.recommenders
.classpath
*.launch
.settings/
*.ipr
*.iml
# misc
*.log
#System Files
.DS_Store
Thumbs.db
*.bak
*.swp
# compiled output
**/target
**/target/**
**/src/main/frontend-resources
**/src/main/generated-www
dependency-reduced-pom.xml
# node
node_modules
/.metadata/
tags
__pycache__/
*.pyc
